opencv-contrib-python
cvlib
gtts
playsound~=1.3.0
PyObjC
cvzone
ultralytics
hydra-core 
matplotlib
numpy
opencv-python
Pillow
PyYAML 
requests
scipy
torch
torchvision
tqdm
filterpy
scikit-image
lap
cap
